@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3 {
    text-transform: uppercase;
    font-size: 3vw;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

strong {
    font-weight: 900;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

light {
    font-weight: 400;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

}
