.footer {
    padding-top: 15px;
    width: 100%;
    background-color: #111111;
}

.footerContent {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 5fr);
    color: #fff;
    font-size: 12px;
}

.footerContentInfo {
    display: grid;
}

.footerContentInfo p {

}

.footerContentAddress {
    display: flex;
    justify-content: space-around;}

.footerMenu {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}

.footerMenuFollowUs  {
    text-transform: uppercase;
    align-self: center;
    color: #fff;
    font-size: 2vw;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.footerMenuFollowUs span {
    font-weight: 900;
}

.footerMenuFollowUsSocialIcons {
    display: grid;
    justify-self: left;
}

.footerCopyright {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: #111;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.footerCopyright p {
    color: #444444;
    font-size: 12px;
}