.top {
    display: grid;
    width: 100%;
    height: 600px;
    text-transform: uppercase;
    position: relative;
    background-image: url(/src/images/cosmosHeader.jpg),
    radial-gradient(#0ba3b0, #111 70%);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.topContent {
    display: grid;
    justify-items: center;
    align-content: center;
}

.topContent h3 {
    color: #fff;
    font-size: 8vw;
    letter-spacing: 10px;
    font-weight: 900;
    line-height: 1em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.topContent strong {
    color: #fff;
    font-size: 8vw;
    letter-spacing: 10px;
    line-height: 1em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.topContent span {
    font-weight: normal;
}

.topContent p {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1em;
    background: #fff;
    color: #111;
    padding: 0 20px 0 45px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
