.header {
  height: 30px;
  width: 100%;
  display: grid;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000;
}

.headerMenu {
  display: grid;
  grid-template-columns: 1fr 4fr 0.5fr;
  grid-gap: 20px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #6e707d;
}

.headerMenuLogo h3 {
  color: #fff;
  margin-top: 7px;
  font-size: 16px;
  text-align: center;
  align-items: center;
}

.headerMenuLogo span {
  font-weight: 900;
}

.headerMenuItems {
  color: #fff;
  font-size: 14px;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(4, 2fr);
}

.headerMenuItems a {
  text-decoration: underline;
  color: #fff;
}

.headerMenuItems a:hover {
  color: #a75fb5;
  text-decoration: underline;
}
.headerMenuSocialIcons {
  font-size: 10px;
  font-weight: 900;
  color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
}

.headerMenuSocialIcons a:hover {
  color: #0ba3b0;
}
