form {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    position: relative;
    background-image: radial-gradient(#0ba3b0, #000000 70%);
    background-blend-mode: multiply;
    background-position: top;
    background-size: cover;
}
input::-webkit-input-placeholder {
    color: #111111;
}
input  {
    width: 100%;
    height: 35px;
    color: #111111;
    border-width: 0;
    text-align: center;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, #a75fb5, #0ba3b0);
}
#name, #text {
    background-image: linear-gradient(to left, #a75fb5, #0ba3b0);
}


label {
    /*background-image: linear-gradient(to right, #a75fb5, #0ba3b0);*/
    /*text-transform: uppercase;*/
    /*color: #fff;*/
    /*!*font-size: 3vw;*!*/
    /*font-weight: 900;*/
    /*text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    /*color: #fff;*/
    font-size: 16px;
    letter-spacing: 10px;
    line-height: 1em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 500;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    height: 35px;
    border-width: 0;
    background-image: linear-gradient(to right, #a75fb5, #0ba3b0);

}

.btm {
    /*color: #fff;*/
    font-size: 16px;
    letter-spacing: 10px;
    line-height: 1em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 500;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height: 35px;
    border-width: 0;
    background-image: linear-gradient(to right, #a75fb5, #0ba3b0);
}

@media all and (max-width: 950px) {
    form {
        display: block;
    }
    label {
        border-radius: 25px;
    }
    input {
        border-radius: 25px;
    }
    .btm {
        border-radius: 25px;
    }


}
