.center {
    display: grid;
    width: 100%;

}

.center_about {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-image: linear-gradient(to right, #a75fb5, #0ba3b0);
    border-style: solid;
    border-width: 45px 0px 45px;
    -moz-border-image: url(/src/images/rall.png) 200 0 200 0 repeat repeat;
    -webkit-border-image: url(/src/images/rall.png) 200 0 200 0 repeat stretch;
    -o-border-image: url(/src/images/rall.png) 200 0 200 0 repeat repeat;
    border-image: url(/src/images/rall.png) 200 0 200 0 repeat repeat;
}

.center_about_content {
    padding: 15px;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 30px;
}
