.projects {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 500px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  display: grid;
  grid-gap: 10px;
  background-image: url(/src/images/projects.jpg),
    radial-gradient(#a75fb5, #111 75%);
  background-blend-mode: hard-light;
  background-position: center;
  background-size: cover;
}

.projects h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3vw;
  font-weight: 900;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.projects h3 span {
  font-size: 3vw;
}

.projectsContent {
  /* color: #fff; */
  padding: 15px;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 6fr);
  grid-template-columns: repeat(3, 5fr);
  grid-gap: 30px;
}
